.countries {
    width: 90vw;
    max-width: var(--max-width);
    display: grid;
    gap: 2rem;
    margin: 0 auto;
    padding-bottom: 5rem;
    padding-top: 3rem;
}
.country {
    position: relative;
    overflow: hidden;
}
.country img {
    width: 100%;
    height: 400px;
    display: block;
    object-fit: cover;
}

.country h1,h2,h3{
    font-weight: bold;
    color: #1d1b1b;
    text-align: center;
    font-size: 300%;
}
